<h1><%= @title %></h1>

<article> 
 This is the home of the research blog application.
<%= link_to "Sign up now!", signup_path, :class=> 'signup_button round' %>
<img src="http://i.imgur.com/Qwa7N.jpg">
</article> 

