  <header>
     <h1><%= @reblog_title%></h1>
  <nav class="round">
     <ul>
       <li><%= link_to "Home", root_path %></li>
       <li><%= link_to "About", about_path %></li>
       <li><%= link_to "Sign in", '#' %></li>
     </ul>
  </nav>
  </header>
